/* ----------------------------------------------------
                    E L E M E N T E S
---------------------------------------------------- */
body {
    margin: 30px;
}

header {
}


/* ----------------------------------------------------
                    C L A S S E S 
---------------------------------------------------- */

.site-title {
    color: green;
}

.logo {
    padding: 20px;
    float:right;
}